body {
    background-color: #f9f9fa
}

.padding {
    padding: 3rem !important
}

.user-card-full {
    overflow: hidden
}

.card {
    -webkit-box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
    box-shadow: 0 1px 20px 0 rgba(60, 96, 112, 0.08);
    border: none;
    max-width: 1500px;
    position: absolute;
    left: 0.1px;
}

.m-r-0 {
    margin-right: 0px
}

.m-l-0 {
    margin-left: 0px
}

.user-card-full .user-profile {
    border-radius: 5px 0 0 5px
}

.bg-c-lite-green {
    background-color: #14153f;
    background-image: linear-gradient(#001c52, #001c52);
}

.user-profile {
    padding: 50px 0
}

.card-block {
    padding: 1.25rem
}

.img-radius {
    border-radius: 5px;
    width: 25%;
}

h6 {
    font-size: 14px
}

.card .card-block p {
    line-height: 40px
}

@media only screen and (max-width: 600px) {
    p {
        font-size: 14px
    }
}

.card-block {
    padding: 1.25rem
}

.b-b-default {
    border-bottom: 1px solid #e0e0e0
}

.m-b-20 {
    margin-bottom: 20px;
    font-family: 'Calibri' !important;
    font-weight: 550 !important;
    font-size: 25px;
}

.p-b-5 {
    padding-bottom: 5px !important
}

.card .card-block p {
    line-height: 60px
}

.m-b-10 {
    margin-bottom: 0px;
    font-family: 'Calibri' !important;
    font-weight: 550 !important;
    font-size: 16px;
}

.text-muted {
    color: #919aa3 !important
}

.b-b-default {
    border-bottom: 1px solid #e0e0e0
}

.f-w-600 {
    font-weight: 500;
}

.f-w-400 {
    margin-bottom: 0px;
    font-weight: 600;
    font-size: 18px;
    font-family: 'Calibri' !important;
    font-weight: 550 !important;
    color: #34414d !important
}

.m-b-20 {
    margin-bottom: 20px;
    color: #062847 !important;
}

.m-t-40 {
    margin-top: 100%
}

.p-b-5 {
    padding-bottom: 5px !important
}

.m-b-10 {
    margin-bottom: 10px
}

.m-t-40 {
    margin-top: 50px
}

.user-card-full .social-link li {
    display: inline-block
}

.user-card-full .social-link li a {
    font-size: 20px;
    margin: 0 10px 0 0;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out
}